[Desktop Entry]
Name=XAMPP Control Panel x64
Exec=gksu /opt/lampp/manager-linux-x64.run
Icon=/usr/share/icons/Humanity/devices/24/network-wired.svg
Encoding=UTF-8
Terminal=false
Comment=Start and Stop XAMPP
Type=Application
